Data<br/> 
<%if @data[:profile_photo].present?%>
<%= ('<img src="data:image/jpg;base64,%s">' % Base64.encode64(@data[:profile_photo])).html_safe %><br/>
<% end%>
<%= @data[:tweet_count]%>  tweets <br/> <%= @data[:follow_count] %> followers<br/>
<a href="/tweeter_users/update_profile"> Update Profile Photo</a><br/>
<a href="/tweeter_users/tweet">Tweet here</a><br/>
<% if @data[:tweets].present?%>
<% @data[:tweets].each do |tweet| %>
	Tweet no <%= tweet.id%>
	<%= tweet.tweet_message%><br/>
	<% a=  tweet.attachment_id%><br/>
	<% if @data[:user_id] != tweet.user_id %>
	<a href="twitter_users/<%=tweet.user_id%>/follow">follow <%= User.find(tweet.user_id).email%></a> <br/>
	<%end%>
	<% if a.present? %>
	<%= ('<img src="data:image/jpg;base64,%s">' % Base64.encode64(Attachment.find(a).data)).html_safe %>
	<% end%>
	<%if @data[:liked_tweet_ids].index(tweet.id).nil? %>
	<a href="/tweeter_users/<%=tweet.id%>/like">Like</a><br/>
	<% end%>
	<a href="/tweeter_users/<%=tweet.id%>/comment">comment</a><br/>
	<a href="/tweeter_users/<%=tweet.id%>/retweet">Retweet</a><br/>
<%end%>
<%end%>

